<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
                logFile="proxy_log.log"
                logLevel="INFO"
                mustMatch="false">
  <serverUrls>
	<serverUrl url="https://svjc-pro-agport.tragsatec.es/server/rest/services/Parques_Eolicos_Galicia/SEGAMB/MapServer"
		username="jpedrei1" 
		password="Golfo1974" 
		matchAll="true"/>
	<serverUrl url="https://svjc-pro-agport.tragsatec.es/server/rest/services/Parques_Eolicos_Galicia/Patrimonio_Natural_Galicia/MapServer"
		username="jpedrei1" 
		password="Golfo1974" 
		matchAll="true"/>
	<serverUrl url="https://svjc-pro-agport.tragsatec.es/portal"
		username="jpedrei1" 
		password="Golfo1974" 
		matchAll="true"/>
	<serverUrl url="https://svjc-pro-agport.tragsatec.es/server/rest/services/Parques_Eolicos_Galicia/Edicion_SEGAMB/MapServer"
		clientId="kzA62cBYtGbbGJuf"
		clientSecret="5e71ffb2b8d047758d339d6b8636e0c9"
		matchAll="true"/>
  </serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
